In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from datetime import datetime
import csv
import functools
import warnings
warnings.filterwarnings('ignore') 
import os
from collections import defaultdict, deque
import paramiko
from functools import partial
import pickle
import redis
from IPython.display import display
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

pd.set_option('expand_frame_repr', True) # pycharm设置为False可以产生滑条，但vscode不能产生滑条所以会堆叠。因此vscode应该设置为True
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)
# pd.set_option('display.max_rows', 100) # 显示的最大行数（避免只显示部分行数据）
pd.set_option('display.max_columns', 1000) # 显示的最大列数（避免列显示不全）
# pd.set_option("display.max_colwidth",1000) # 每一列最大的宽度（避免属性值或列名显示不全）
pd.set_option('display.width', 180) # 每一行的宽度（避免换行）
plt.rcParams['font.family'] = ['sans-serif']
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['figure.figsize'] = (16, 10)
%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [2]:
from ctaUtils.product_info import *
from ctaUtils.helper import *
from ctaUtils.stats import *
from ctaUtils.RemoteQuery import *

In [7]:
rc = RemoteSrc()
l1_example = rc.get_raw_bars('v2108', '20210302', 'l1')
l2_example = rc.get_raw_bars('v2108', '20210302', 'l2')
l1_example.columns
l2_example.columns

Index(['date', 'code', 'server_time', 'local_time', 'preclose', 'open', 'high', 'low', 'last', 'upper_limit', 'lower_limit', 'volume', 'turnover', 'iopv', 'ask_price1',
       'ask_volume1', 'ask_price2', 'ask_volume2', 'ask_price3', 'ask_volume3', 'ask_price4', 'ask_volume4', 'ask_price5', 'ask_volume5', 'bid_price1', 'bid_volume1',
       'bid_price2', 'bid_volume2', 'bid_price3', 'bid_volume3', 'bid_price4', 'bid_volume4', 'bid_price5', 'bid_volume5', 'time'],
      dtype='object')

Index(['date', 'code', 'server_time', 'local_time', 'preclose', 'open', 'high', 'low', 'last', 'upper_limit', 'lower_limit', 'volume', 'turnover', 'iopv', 'ask_price1',
       'ask_volume1', 'ask_price2', 'ask_volume2', 'ask_price3', 'ask_volume3', 'ask_price4', 'ask_volume4', 'ask_price5', 'ask_volume5', 'bid_price1', 'bid_volume1',
       'bid_price2', 'bid_volume2', 'bid_price3', 'bid_volume3', 'bid_price4', 'bid_volume4', 'bid_price5', 'bid_volume5', 'time'],
      dtype='object')

In [8]:
l1_example.head()

,date,code,server_time,local_time,preclose,open,high,low,last,upper_limit,lower_limit,volume,turnover,iopv,ask_price1,ask_volume1,ask_price2,ask_volume2,ask_price3,ask_volume3,ask_price4,ask_volume4,ask_price5,ask_volume5,bid_price1,bid_volume1,bid_price2,bid_volume2,bid_price3,bid_volume3,bid_price4,bid_volume4,bid_price5,bid_volume5,time
0,20210302,v2108,2021-03-02 09:00:00.004,2021-03-02 08:59:55.529,8060,0,0,0,0,8610,7490,0,0,0,8105,1,8175,1,0,0,0,0,0,0,7880,11,7835,1,0,0,0,0,0,0,09:00:00.004000
1,20210302,v2108,2021-03-02 09:00:00.185,2021-03-02 08:59:55.733,8060,0,0,0,0,8610,7490,0,0,0,8100,2,8175,1,0,0,0,0,0,0,7880,11,7835,1,0,0,0,0,0,0,09:00:00.185000
2,20210302,v2108,2021-03-02 09:00:00.438,2021-03-02 08:59:55.978,8060,0,0,0,0,8610,7490,0,0,0,8295,1,0,0,0,0,0,0,0,0,7775,1,0,0,0,0,0,0,0,0,09:00:00.438000
3,20210302,v2108,2021-03-02 09:00:00.841,2021-03-02 08:59:56.210,8060,0,0,0,0,8610,7490,0,0,0,8095,3,8170,2,8295,1,0,0,0,0,7775,1,0,0,0,0,0,0,0,0,09:00:00.841000
4,20210302,v2108,2021-03-02 09:00:00.841,2021-03-02 08:59:56.465,8060,0,0,0,0,8610,7490,0,0,0,8095,3,8165,1,8295,1,0,0,0,0,7775,1,0,0,0,0,0,0,0,0,09:00:00.841000

In [9]:
l2_example.head()

,date,code,server_time,local_time,preclose,open,high,low,last,upper_limit,lower_limit,volume,turnover,iopv,ask_price1,ask_volume1,ask_price2,ask_volume2,ask_price3,ask_volume3,ask_price4,ask_volume4,ask_price5,ask_volume5,bid_price1,bid_volume1,bid_price2,bid_volume2,bid_price3,bid_volume3,bid_price4,bid_volume4,bid_price5,bid_volume5,time
0,20210302,v2108,2021-03-02 09:00:00.004,2021-03-02 08:59:55.529,8060,0,0,0,0,8610,7490,0,0,0,8105,1,8175,1,0,0,0,0,0,0,7880,11,7835,1,0,0,0,0,0,0,09:00:00.004000
1,20210302,v2108,2021-03-02 09:00:00.185,2021-03-02 08:59:55.733,8060,0,0,0,0,8610,7490,0,0,0,8100,2,8175,1,0,0,0,0,0,0,7880,11,7835,1,0,0,0,0,0,0,09:00:00.185000
2,20210302,v2108,2021-03-02 09:00:00.438,2021-03-02 08:59:55.978,8060,0,0,0,0,8610,7490,0,0,0,8295,1,0,0,0,0,0,0,0,0,7775,1,0,0,0,0,0,0,0,0,09:00:00.438000
3,20210302,v2108,2021-03-02 09:00:00.841,2021-03-02 08:59:56.210,8060,0,0,0,0,8610,7490,0,0,0,8095,3,8170,2,8295,1,0,0,0,0,7775,1,0,0,0,0,0,0,0,0,09:00:00.841000
4,20210302,v2108,2021-03-02 09:00:00.841,2021-03-02 08:59:56.465,8060,0,0,0,0,8610,7490,0,0,0,8095,3,8165,1,8295,1,0,0,0,0,7775,1,0,0,0,0,0,0,0,0,09:00:00.841000

In [3]:
rc.get_future_list('20210302', 'l2')

['lh2201.csv.gz',
 'c2107.csv.gz',
 'pp2107.csv.gz',
 'i2202.csv.gz',
 'bb2103.csv.gz',
 'eb2109.csv.gz',
 'm2103.csv.gz',
 'eg2202.csv.gz',
 'jd2111.csv.gz',
 'cs2111.csv.gz',
 'jd2108.csv.gz',
 'v2202.csv.gz',
 'b2109.csv.gz',
 'j2109.csv.gz',
 'l2104.csv.gz',
 'j2111.csv.gz',
 'cs2105.csv.gz',
 'i2104.csv.gz',
 'v2110.csv.gz',
 'p2112.csv.gz',
 'm2107.csv.gz',
 'IC2103.csv.gz',
 'y2109.csv.gz',
 'eg2107.csv.gz',
 'fb2201.csv.gz',
 'a2111.csv.gz',
 'pg2106.csv.gz',
 'rr2106.csv.gz',
 'y2105.csv.gz',
 'm2201.csv.gz',
 'lh2109.csv.gz',
 'fb2111.csv.gz',
 'jm2104.csv.gz',
 'fb2103.csv.gz',
 'lh2111.csv.gz',
 'eb2106.csv.gz',
 'cs2201.csv.gz',
 'eb2112.csv.gz',
 'c2103.csv.gz',
 'pp2108.csv.gz',
 'jd2110.csv.gz',
 'c2201.csv.gz',
 'i2108.csv.gz',
 'b2108.csv.gz',
 'jm2103.csv.gz',
 'pp2104.csv.gz',
 'pg2112.csv.gz',
 'bb2108.csv.gz',
 'p2201.csv.gz',
 'bb2111.csv.gz',
 'y2108.csv.gz',
 'a2107.csv.gz',
 'v2111.csv.gz',
 'j2106.csv.gz',
 'y2103.csv.gz',
 'l2105.csv.gz',
 'pg2103.csv.gz',
 'bb2107.csv.gz',
 'pp2111.csv.gz',
 'fb2107.csv.gz',
 'i2110.csv.gz',
 'j2202.csv.gz',
 'eg2110.csv.gz',
 'm2112.csv.gz',
 'y2201.csv.gz',
 'l2112.csv.gz',
 'j2201.csv.gz',
 'fb2108.csv.gz',
 'jd2112.csv.gz',
 'p2111.csv.gz',
 'jm2201.csv.gz',
 'cs2107.csv.gz',
 'rr2112.csv.gz',
 'eg2108.csv.gz',
 'v2103.csv.gz',
 'pg2201.csv.gz',
 'b2103.csv.gz',
 'cs2103.csv.gz',
 'rr2110.csv.gz',
 'fb2105.csv.gz',
 'l2201.csv.gz',
 'y2111.csv.gz',
 'eg2103.csv.gz',
 'v2109.csv.gz',
 'pg2107.csv.gz',
 'bb2201.csv.gz',
 'c2105.csv.gz',
 'pg2111.csv.gz',
 'p2107.csv.gz',
 'b2110.csv.gz',
 'rr2104.csv.gz',
 'pg2108.csv.gz',
 'pp2112.csv.gz',
 'pg2109.csv.gz',
 'pg2202.csv.gz',
 'l2109.csv.gz',
 'i2112.csv.gz',
 'j2107.csv.gz',
 'p2104.csv.gz',
 'jm2105.csv.gz',
 'b2111.csv.gz',
 'm2109.csv.gz',
 'jd2105.csv.gz',
 'rr2107.csv.gz',
 'b2202.csv.gz',
 'rr2105.csv.gz',
 'fb2110.csv.gz',
 'bb2202.csv.gz',
 'pg2104.csv.gz',
 'l2103.csv.gz',
 'rr2202.csv.gz',
 'i2201.csv.gz',
 'eb2108.csv.gz',
 'eg2112.csv.gz',
 'jd2106.csv.gz',
 'j2108.csv.gz',
 'b2112.csv.gz',
 'v2201.csv.gz',
 'jd2202.csv.gz',
 'v2104.csv.gz',
 'b2106.csv.gz',
 'i2111.csv.gz',
 'l2107.csv.gz',
 'jd2201.csv.gz',
 'i2105.csv.gz',
 'v2106.csv.gz',
 'eb2104.csv.gz',
 'fb2104.csv.gz',
 'y2107.csv.gz',
 'b2105.csv.gz',
 'pp2109.csv.gz',
 'y2112.csv.gz',
 'rr2111.csv.gz',
 'jm2202.csv.gz',
 'v2108.csv.gz',
 'p2110.csv.gz',
 'eb2110.csv.gz',
 'a2109.csv.gz',
 'eb2201.csv.gz',
 'eb2107.csv.gz',
 'pp2105.csv.gz',
 'fb2109.csv.gz',
 'v2107.csv.gz',
 'v2105.csv.gz',
 'fb2202.csv.gz',
 'l2202.csv.gz',
 'bb2109.csv.gz',
 'jm2109.csv.gz',
 'm2108.csv.gz',
 'm2105.csv.gz',
 'bb2110.csv.gz',
 'eb2111.csv.gz',
 'rr2109.csv.gz',
 'v2112.csv.gz',
 'p2202.csv.gz',
 'jm2112.csv.gz',
 'rr2201.csv.gz',
 'l2108.csv.gz',
 'fb2106.csv.gz',
 'l2110.csv.gz',
 'pp2106.csv.gz',
 'l2106.csv.gz',
 'c2111.csv.gz',
 'jd2103.csv.gz',
 'i2107.csv.gz',
 'pp2201.csv.gz',
 'jm2111.csv.gz',
 'pg2110.csv.gz',
 'j2104.csv.gz',
 'j2112.csv.gz',
 'eb2103.csv.gz',
 'j2105.csv.gz',
 'jd2104.csv.gz',
 'eg2104.csv.gz',
 'jm2107.csv.gz',
 'rr2108.csv.gz',
 'i2103.csv.gz',
 'pg2105.csv.gz',
 'j2103.csv.gz',
 'fb2112.csv.gz',
 'eb2202.csv.gz',
 'c2109.csv.gz',
 'j2110.csv.gz',
 'a2201.csv.gz',
 'bb2105.csv.gz',
 'eg2106.csv.gz',
 'jd2109.csv.gz',
 'b2104.csv.gz',
 'p2108.csv.gz',
 'jd2107.csv.gz',
 'pp2202.csv.gz',
 'pp2110.csv.gz',
 'pp2103.csv.gz',
 'a2103.csv.gz',
 'cs2109.csv.gz',
 'jm2110.csv.gz',
 'rr2103.csv.gz',
 'p2103.csv.gz',
 'p2106.csv.gz',
 'jm2106.csv.gz',
 'eg2111.csv.gz',
 'b2107.csv.gz',
 'bb2104.csv.gz',
 'i2109.csv.gz',
 'l2111.csv.gz',
 'p2109.csv.gz',
 'eg2109.csv.gz',
 'eg2201.csv.gz',
 'a2105.csv.gz',
 'bb2106.csv.gz',
 'p2105.csv.gz',
 'jm2108.csv.gz',
 'b2201.csv.gz',
 'IF2103.csv.gz',
 'eb2105.csv.gz',
 'i2106.csv.gz',
 'eg2105.csv.gz',
 'm2111.csv.gz',
 'bb2112.csv.gz']